body { 
    background-color: #f4ecd5;
    font-family:   STKaiti;
    font-size: 1.3em;
    margin:           1px;
    }
    header.top {
      background-color: #bf958a;
      margin: 10px 10px 0px 10px;
      height:           108px;
    }
  
    header.top p{
      float: right;
    }
    form {
      display: table;
      padding: 10px;
      border: thin dotted #bf958a;
      background-color: #e1ceb8;
      margin-left: 70px;
    }
    
    fieldset {
      padding:10px;
      margin-top:5px;
      border:1px solid #7e5e32;
      width: 800px;
      }
       
      fieldset legend {
        color:#7e5e32;
        font-weight:bold;
        padding:3px 20px 3px 20px;
        border:1px solid #7e5e32;  
        }
   
      fieldset label {
          width:150px;
          text-align:right;
          padding:4px;
          margin:50px;
          }
           
          fieldset input {
            width:350px;
            padding:4px;
            margin:8.5px;
            }

  fieldset div.tableRow {
  clear:left;
  margin-bottom:2px;
  }
  section#contact{
    width: 650px;
  }
  section#kong{
    float: right;
  }
  div.tableRow label:first-child {
    text-align: right;
  }

    div#tableContainer {
      display: table;
      border-spacing: 10px;
  }
  
  div#tableRow {
      display: table-row;
  }
  div.photo{
    border-style: solid;
    border-width: 5px;
    border-color: #bf958a;
    width: 230px;
    height: 220px;
    margin-left: 50px;
  }
  
  section#index {
    display: table-cell;
      background-color: #E1CCB1;
      width: 1200px;
      padding: 10px;
      vertical-align:top;}


  div#nav{
    background-color: #efe5d0;
    padding: 5px;
    width: 99%; 
  
  }
  div#nav ul{
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    
  }
  div#nav ul li{
    display: inline-block;
    width: 100px;
  }
  div#nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  div#nav ul li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  div#nav ul li a.active {
    color: white;
    background-color: #bf958a;
  }
  nav{
    display: table-cell;
    background-color: #e0cdc4;
    padding: 15px;
    width: 25%; 
    vertical-align: top;
  }
  .photo{
    text-align: center;
  }
  
  nav ul {
      list-style-type: none; 
      margin: 30px;
      padding: 20px;
      width: 190px;
      /* background-color: #f1f1f1; */
    }
    
    nav ul li a {
      display: block;
      color: #000;
      padding: 16px 26px;
      width: 180px;
      text-decoration: none;
      text-align: center;
    }
  
    
    /* 鼠标悬停时改变链接颜色 */
    nav ul li a:hover {
      background-color: #a9a188;
      color: white;
    }
    nav ul li a:active {
      background-color:#bf958a ;
      color: white;
  }
  
    footer {
      background-color: #bf958a;
      color:             #070504;
      text-align:       center;
      padding:          px;
      /* margin: 0px 10px 10px 10px; */
      font-size:        90%;
    }
  