body { 
  background-image:url(../picture/beauty_20210207163834.jpg);
  /* 添置背景图片，设置背景图片平铺大小及不重复，位置固定 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:#f4ecd5;
  background-size: 74% 97%;
  background-position:right;
  font-family:   STKaiti;
    font-size: 1.3em;
  margin:           1px;
  }
  header.top {
    background-color: #bf958a;
    /* margin: 10px 10px 0px 10px; */
    height:           108px;
  }

  header.top p{
    float: right;
    width: 350px;
  }
div#tableContainer {
	display: table;
	border-spacing: 10px;
}

div#tableRow {
	display: table-row;
}
div.picture{
  border-style: solid;
  border-width: 5px;
  border-color: #bf958a;
  width: 230px;
  height: 220px;
  margin-left: 50px;
}


nav{
  display: table-cell;
  background-color: #e0cdc4;
  padding: 5px;
  width: 25%; 
  vertical-align: top;
}

nav ul {
    list-style-type: none; 
    margin: 35px;
    padding: 20px;
    width: 190px;
    /* background-color: #f1f1f1; */
  }
  
  nav ul li a {
    display: block;
    color: #000;
    padding: 16px 26px;
    width: 180px;
    text-decoration: none;
    text-align: center;
  }
  
  /* 鼠标悬停时改变链接颜色 */
  nav ul li a:hover {
    background-color: #a9a188;
    color: white;
  }
  nav ul li a:active {
    background-color: #bf958a;
    color: white;
}

section#index {
  display: table-cell;
  width: 1200px;
  padding: 10px;
  vertical-align:top;
  text-align: center;
  background-color: #D4BAAD;
  opacity:0.6;
  /* 为index部分设置背景颜色并调整透明度为0.6，使背景图看得见 */
}
section#index div.inner {
  border-bottom: #B77F70 solid;
}

section#index div.inner div#container_1{
  width: 310px;
  height: 356px;
  float: left;
  margin-left: 30px;
  background-color: #a9955a;
  margin-top: 50px;
}
section#index div.inner div#container_2 {
  width: 310px;
  height: 356px;
  float: left;
  background-color: #a9955a;
  margin-top: 50px;
  margin-left: 30px;
}

section#index div.inner div#container_3 {
  width: 310px;
  height: 356px;
  float: right;
  background-color: #a9955a;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 30px;
 }

  footer {
    background-color: #bf958a;
    color:            #271e0a; 
    text-align:       center;
    padding:          0px;
    margin: 0px 5px 5px 5px;
    font-size:        90%;
    height:           58px;
  } 